/* styles body and hero*/
body {
    background-image: url("assets/RedBook.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
  }
  
  html,body{
    font-family: 'Halant', serif;
    color: white;
    height:100%;
  }
  
  h1{
    background-color: rgb(11, 11, 167);
  }

    
  p{
    background-color: rgb(11, 11, 167);
  }

  /* area specific styles */
  #highScores div div{
    padding: 5px;
  }
  
  #highScores div div:nth-child(odd){
    background-color: white;
    color: black;
  }
  
  #highScores button{
    margin:10px 0;
  }
  
  #highScores button:hover{
    background-color: rgb(86, 156, 235);
  }
    
  /* class styles to hide elements */
.hide{
    display:none;
  }
  
  .invisible{
    visibility:hidden;
  }
  
  .disable{
  pointer-events:none;
  }
  /* styles for sections*/

#positionWrapper{
    display: flex;
    justify-content: center;
    min-height: 100%;
    flex-direction: column;  
  }
  
  section{
    margin: 0 auto;
  }
  
  #controls{
    background-color: rgb(11, 11, 167);
  }
  
  #info{
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    color: white;
    max-width:800px;
    display:flex;
    padding: 16px 30px;
  }
  
  #scores{
    left:40px;
    background-color: rgb(40, 40, 194);
    color: white;
  }

  #scores:hover{
    background-color: rgb(86, 156, 235);
  }
  
  #timer{
    right:40px;
  }
  
  #intro{
    text-align:center;
  }
  
  button{
    background-color: rgb(11, 11, 167);
    color:white;
    border: none;
    padding:15px;
    border-radius: 5px;
    cursor:pointer;
  }
  
  #intro button:hover{
    background-color: rgb(86, 156, 235);
  }
  
  /* quiz container */
  #quizContainer #title{
    font-weight:700;
  }
  
  #quizContainer button{
    background-color: rgb(11, 11, 167);
    width: 100%;
    border-radius:15px;
    cursor:pointer;
    display: block;
    color:white;
    margin: 5px 0;
    padding: 10px 10px ;
    text-align: center;
  }
  
  #quizContainer button:hover{
    background-color:  rgb(86, 156, 235);
  }
  
  /* score indicator */
  #scoreIndicator, #errorIndicator{
    border-top: 1px solid #999;
    color: lightblue;
    font-size: 1.3em;
    margin: 10px auto;
    margin: 0;
    font-weight:700;
  }
  
  #scoreIndicator p, #errorIndicator p{
  margin:0;
  margin-top:10px;
  }
  
  #records input, #records button{
  margin-top:5px;
  }
  
  /* responsiveness settings */
  @media only screen and (min-width: 768px) {

    #positionWrapper{
      min-height: 80%
    }
  
    #finish #records{
      display:flex;
      align-items: center;
    }
  
    #finish #records input, #finish #records button{
      margin-left:10px;
    }

    #finish #records input, #finish #records button:hover{
      background-color:  rgb(86, 156, 235);
    }
  
    #info{
      flex-direction:row;
    }
  
    #quizContainer{
      min-width:30%;
    }
  
  }
